


body {
    font-size: 12px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color:#333;
	background-image: url("imgs/bgimg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;}

p {padding: 10px;
	font-size: 14px;
	display: flex;
    align-items:top;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
	max-width: 1500px;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
}


#header {
    float: left;
    height: 150px;
	width: 1000px;
    background: #9177F2;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
}

h1 {
	font-size:36;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	margin: auto;
	width: 300px;
	text-align: center;
}

h2 {
	font-size: 24;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	padding-left: 72px; }

#navigation {
    float: left;
    height: 48px;
    width: 1000px;
    background-color: #77A0F2;	
}

#content {
    float: left;
    background: #BDCBF2;
    width: 750px;
	
}

#rightcolumn {
    background: #77A0F2;
    width: 250px;
    float: right;
}

footer {
	text-align: center;
	padding: 3px;
	background-color: #77a0f2;
	color: #300350;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
}

#ad {
	width:inherit;
}


#logo {
	width: 200px;
	height: 160px;
}

#selfie {
	width: 250px;
	height: 250px;
	margin: 12px;
	border-radius: 144px;
}

#resume {
	width: inherit;
}


#navigation ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	color: #FFFFFF;
	letter-spacing: 0px;
	text-align: center;
	width: 16%;
	transition: all 0.3s linear;
	font-family: "Tiny5", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
}

#navigation ul li:hover {
	color: #300350;
	cursor: pointer;}

a { color: inherit;
  text-decoration: inherit; 
	}

#container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;}


form {
	max-width:300px;
	margin:50px auto;
}

.feedback-input {
  color:black;
  font-weight:500;
  font-size: 16px;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  border-radius: 8px;
  line-height: 22px;
  background-color: #E2E8FB;
  border:2px solid #77A0F2;
  transition: all 0.3s;
  padding: 8px;
  margin-bottom: 8px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus {
	border:2px solid #77A0F2;
	background-color: #F1F1F1;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
  font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

[type="submit"] {
  width: 100%;
  background:#9177F2;
  border-radius:8px;
  border:0;
  cursor:pointer;
  color:white;
  font-family: "Tiny5", sans-serif;
  font-size:24px;
  padding-top:12px;
  padding-bottom:12px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#F52E97; }